:root {
  --red-color1: #FF595E;
  --yellow-color: #FFCA3A;
  --green-color: #8AC926;
  --blue-color2: #1982C4;
  --purple-color: #6A4C93;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--yellow-color);
  color: var(--purple-color);
  font-family: Arial, Helvetica, sans-serif;
}

.main-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-paragraph {
  font-size: 40px;
}

.button {
  background-color: var(--green-color);
  padding: 10px;
  color: black;
  border-radius: 5px;
  border: 2px solid var(--purple-color);
}

@media screen and (min-width:769px) {}