* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-title {
  text-align: center;
}

.tabs {
  background-color: black;
  color: aquamarine;
  padding: 20px;
}

.tab {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px white;
}

.tab:hover {
  background-color: aquamarine;
  color: black;
}

.events {
  display: none;
}

@media screen and (max-width:768px) {
  .tabs {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (min-width:769px) {
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}