*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    text-align: center;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    background-color: #ffa500;
    height: 90px;
}
.content{
    display: flex;
    flex-grow: 1;
    height: 100%;
}
.left-sidebar{
    background-color: #ff4500;
    flex-basis: 15%;
}
.right-sidebar{
    background-color: #ff4500;
    flex-basis: 15%;
}
.linkContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.mainContent{
    background-color: #ffdea1;
    flex-grow: 1;
}
.footer{
    background-color:#ffa500;
    height: 90px;
}