:root{
    --background-color: #0F4C5C;
    --background-color-light: #26b0d2;
    --header-color: #5F0F40;
    --text-color1: #FB8B24;
    --text-color2: #E36414;
    --text-color3: #9A031E;
}
.main-content{
    background-color: var(--text-color2);
    color: var(--background-color);
    width: 70%;
    margin: 40px;
    padding: 40px;
    border-radius: 15px;
    border: 5px solid var(--text-color1);
    text-align: center;
}
.main__article{
    text-align: start;
}
.flowparkIcon{
    width: 100%;
    height: auto;
}
@media screen and (min-width:769px) {
    .main-content{
        width: 50%;
    }
    .logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flowparkIcon{
        width: 50%;
    }
}

