* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: black;
  color: antiquewhite;
}

.logo {
  font-size: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section1 {
  background-image: url("../images/fallingleaves.png");
  background-position: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  width: 50%;
}

.section2 {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 20px;
}

.team-square {
  background-color: darkgrey;
}

.image {
  border-radius: 50%;
}

.footer {
  height: 100px;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .website-menu {
    display: none;
  }
}

@media screen and (min-width:769px) {
  .mobile-menu {
    display: none;
  }
}