*{
    box-sizing: border-box;
    margin: 0;
}
.header{
    background-color: #beff7d;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textColor{
    color: whitesmoke;
}
a{
    background-color: green;
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid black;
}
a:hover{
    background-color: whitesmoke;
    color: green;
    border: 2px solid green;
}
.main-content{
    height: 100vw;
}
.flex-container{
    display: flex;
}
.property{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    flex: 0 0 20%;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}
.property-result{
    display: flex;
    flex: 0 0 80%;
}
.ball{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.black{
    background-color: black;
}
.one{
    order: 1;
}
.two{
    order: 1;
}
.three{
    order: 1;
}
.four{
    order: 2;
}
.five{
    order: 1;
}
.six{
    order: 0;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: flex-end;
}
.jc-start{
    justify-content: flex-start;
}
.jc-spaceAround{
    justify-content: space-around;
}
.jc-spaceBetween{
    justify-content: space-between;
}
.alignItems{
    height: 300px;
}
.ai-center{
    align-items: center;
}
.ai-end{
    align-items:flex-end;
}
.ai-start{
    align-items:flex-start;
}
.ai-normal{
    align-items:normal;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-wrap-wrap-reverse{
    flex-wrap:wrap-reverse;
}