:root {
    --header: #3A86FF;
    --footer: #8338EC;
    --main-background: #FFBE0B;
    --accentColor-1: #FB5607;
    --accentColor-2: #FF006E;
    --borderColor: #000000;
  }
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.header{
    background-color: var(--header);
    text-align: center;
    padding: 24px;
    text-transform: uppercase;
}
.header__title{
    font-size: 2rem;
}
.header__subtitle{
    font-size: 1.5rem;
    text-align: center;
}
.menu{
    background-color: #8338EC;
    margin: 0;
    list-style-type: none;
    padding: 16px 10px;
}
.menu li{
    color: #FB5607;
    display: inline-block;
    padding: 0 10px;
}
.submenu-hover{
    position: relative;
}
.submenu-hover:hover .submenu{
    display: block;
    border-radius: 5px;
}
.submenu{
    display: none;
    position: absolute;
    padding: 8px;
    background-color: #9c6edd;
    top: 100%;
}
.submenu li{
    display: block;
    padding: 5px;
}
.submenu-childhover:hover{
    color: #FFBE0B;
    background-color: #000000;
    border-radius: 5px;
}
.main-content{
    padding: 24px
}
.orderd-list, .unorderd-list{
    border: 3px solid var(--accentColor-1);
    border-radius: 15px;
    margin: 10px 0;
}
.orderd-list{
    list-style:georgian;
}
.week-days li{
    display: inline-block;
}
.week-days.flex-horisontal{
    display: flex;
    justify-content:center;
}
.week-days.flex-horisontal > div{
    border: 1px solid black;
    padding: 10px;
}
.week-days.flex-vertical{
    counter-reset: days;
}
.week-days.flex-vertical div::before{
    counter-increment: days;
    content: counter(days);
    display: inline;
    padding: 10px;
}
.footer{
    background-color: var(--footer);
    padding: 10px;
}
