*{
    box-sizing: border-box;
}
.main-content{
    background-color: peachpuff;
    padding: 48px 24px;
}
.grid-parent{
    border: 1px solid black;
    display: grid;
    /*grid-template-rows: 200px 250px 300px;
    grid-template-columns: 25% 40% 35%;*/
    grid-template:repeat(3, 200px)/ 25% 40% 35%;
    text-align: center;
}
.grid-parent > div{
    border: 1px solid orange;
    background-color: cornflowerblue;
}
.grid-parent > div:nth-child(even){
    background-color: aquamarine;
}