*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #0F4C5C;
    height: 100%;
}
.header{
    background-color: #5F0F40;
    color: #FB8B24;
    padding: 24px;
}
.header__title{
    margin: 0;
    text-align: center;
}
.main{
    flex-grow: 1;
}
.footer{
    background-color: #5F0F40;
    color:#FB8B24;
    padding: 24px;
    text-align: center;
}