* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: auto;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 100%;
    text-align: center;
    gap: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.number {
    font-size: 42px;
    margin: auto;
}