*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
    row-gap: 10px;
}
.row-dropdown{
    border: 1px solid black;
    background-color: aquamarine;
}