*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: auto 1fr auto/ 1fr 5fr;
    grid-template-areas: 
    "header header"
    ". ."
    "footer footer ";
    background-color: peachpuff;
}
.header, .footer{
    background-color: aquamarine;
}
.header{
    grid-area: header;
    padding: 20px;
    text-align: center;
}
.sidebar{
    background-color: lightcoral;
    text-align: center;
    position: relative;
    left: -80%;
    transition: ease-in 1s;
}
.sidebar:hover{
    left: 0;
}
.menu-item{
    padding: 10px 0;
}
.main-content{
    background-color: peachpuff;
}
.footer{
    grid-area: footer;
    padding: 20px;
    text-align: end;
}

