* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(255, 255, 255);
    font-family: Noto Sans JP, -apple-system, BlinkMacSystemFont, Helvetica Neue, YuGothic, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, Arial, メイリオ, Meiryo, sans-serif;
    background: linear-gradient(20deg, lightblue, rgb(205, 216, 220), white);
    overflow-x: hidden;
}

.logo {
    width: 150px;
    height: 120px;
    margin: 20px;
}

.sidebar {
    z-index: 2;
    background-color: rgb(70, 70, 70);
    position: relative;
    padding: 20px;
    right: -80%;
    opacity: 0.5;
    color: beige;
}

.sidebar:hover {
    right: 0;
    transition: ease-in 1s;
}