:root{
    --background-color: #0F4C5C;
    --header-color: #5F0F40;
    --text-color1: #FB8B24;
    --text-color2: #E36414;
    --text-color3: #9A031E;
}
*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
.header{
    background-color: var(--header-color);
    padding: 24px;
    width: 100%;
    color: var(--text-color1);
    display: flex;
    flex-direction: column;
}
.header__title{
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.menu__link{
    background-color: var(--background-color);
    border-radius: 5px;
    border: 2px solid var(--text-color2);
    margin: 15px;
    margin-bottom: 0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color2);
}
.menu__link:hover{
    background-color: var(--text-color2);
    color: var(--background-color);
}
.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
        color: var(--text-color1);
}
.main__items{
    margin: 0 32px;
}
.main__item{
    font-size: larger;
}
.main__images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    height: auto;
    margin-bottom: 1em;
}
.image.car{
    width: 30%;
}
.image.bicycle{
    width: 20%;
}
.image.motorcycle{
    width: 20%;
}
.footer{
    color: var(--text-color1);
    background-color: var(--header-color);
    padding: 24px;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 600px){
    .main__images{
        display: flex;
        flex-direction: column;
    }
    .image{
        padding-bottom: 24px;
    }
    .image.car{
        width: 70%;
    }
    .image.bicycle{
        width: 50%;
    }
    .image.motorcycle{
        width: 50%;
    }
}